/* .flex-container{
    width: 80%;
    height: 400px;
    background-color: chocolate;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap:wrap-reverse; 
    flex-flow: row-reverse wrap-reverse;
    justify-content: space-around;
    align-items: center;
}
div{
    background-color: brown;
    padding: 8px;
    margin: 16px;
    height: 20px;
    border: darksalmon 2px solid;
} */
/* 

.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
}
.container{
    margin: 10px;  
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
}
.container input,select{
    flex-basis: 2;
}
.container label{
    flex-basis: 1;
    background-color: black;
}
.container input[type="submit"]{
    background: transparent;
    border: 1px whitesmoke solid;
    border-radius: 5px;
    text-align: center;
    padding: 0 20px;
    color: whitesmoke;
}

.right-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

html{
    height: 100%;
}
body{
    background-image: linear-gradient(to top right, #229ae0, #4cbfd3);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    margin: 20px 80px;
}
.container{ 
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}
.left-box{
    flex: 1;
}
.right-box{
    flex: 3;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.right-box-1,.right-box-2{
    flex: 1;
}
.right-box-1{
    display: flex;
    flex-direction: column;
}
.right-box .top{

}